/* Comentário */
body{
    /* Centralizar a tela easy */
    padding-bottom: 500px;
}
h2{
    color: blue;
    font-size: 25px;
    border-bottom: 2px solid blue;
}
/* Classes */

.paragraph{
    background-color: greenyellow;
    color: blue;
    padding: 10px;
}
/* id */
#exclusive-title{
    background-color: orange;
    color: blue;
    padding: 10px;
    font-size: 40px;
}

/* Procedência id > classe > tag */

h2 {
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#outro-titulo{
    border-bottom:  4px solid yellowgreen;
}

/*Cores*/
.classe-cor{
    color:rgb(202, 3, 3)
}

/*Cores com hex*/
.hex{
    color: #00fa3e
}

/*Cores com RGB = red,green,blue */
.rgb{
    color: rgb(130, 50, 111)
}

/*Cores com RGBA, 0 até 1*/

.rgba{
    color: rgb(23, 51, 40, 0.5)
}

/* HSL */
.hsl{
    color: hsl(100, 25%, 50%)
}
/* Background-color*/
.bg{
    background-color: #000;
    color: yellowgreen
}
.bg-2{
    background-color: #04fe04;
    color: hsl(32, 94%, 40%)
}
/* Bg-opacity */
.bg-opacity{
    background-color: #000;
    opacity: 0.5;
}
.bg-opacity-2{
    background-color: #000;
    color: #59ef22;
    opacity: 0.8;
}
/* Bg-RGBA-opacity */
.bg-rgba{
    background-color: rgba(90, 120, 20, 0.7);
    color: red;
}
/* Bg-Imagem */
.imagem{
    background-image: url(../img/download.jpg);
    padding: 10px;
    color: #fff;
}

/* imagem não-centralizada e centralizada */

.not-imagem-c,
.imagem-c{
    height: 240px;
    width: 200px;
    background-image: url(../img/palmeiras.jpg);
}
.imagem-c{
    background-position: center;
}

/* Altura e largura */
.width-height{
    height: 30px;
    width: 35px;
    background-color: green;
}
.width-height-2{
    height: 40px;
    background-color: #000;
}

/* Padding */
.not-padding,
.padding{
    background-color: #ca1919;
    color: #fff;
}

.padding{
    padding: 25px;
    background-color: blue;
}

/* Padding individual */
.padding-individual{
    background-color: red;
    color: yellowgreen;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 18px;
}

/* Padding numa regra */
.padding-2{
    background-color: #000;
    color: pink;
    padding: 10px 15px 10px 15px; 
    /* é o msm que padding: 10px 15px; */
}