/* Comentário */
body{
    /* Centralizar a tela easy */
    padding-bottom: 500px;
}
h2{
    color: blue;
    font-size: 25px;
    border-bottom: 2px solid blue;
}
/* Classes */

.paragraph{
    background-color: greenyellow;
    color: blue;
    padding: 10px;
}
/* id */
#exclusive-title{
    background-color: orange;
    color: blue;
    padding: 10px;
    font-size: 40px;
}