/* 4: External CSS */
body{
    padding-bottom: 5px;
}

h2{
    color: green;
    font-size: 20px;
}

/* 6:Classes */
.paragraph{
    background-color: black;
    padding: 5px;
    color: orange;
}
/* 7: Ids */
#id_select {
    background-color: orangered;
    color: black;
    padding: 8px;
}
/* 8: Color Name */
.color-name {
    color: #3fe180;
}
.nameRGB {
    color: rgb(145, 102, 5)
}
.nameRGBA {
    /* a ultima inserção é a transparência */
    color: rgba(255, 0, 0, 0.5);
}
.nameHSL {
    color: hsl(100, 22%, 15%);
}
.opacidade {
    background-color: rgb(19, 6, 2);
    opacity: .6;
}
/* 9: Inserção de imagem */
.srcImg{
    /* Insere uma imagem no fundo do testo */
    background-image: url("../02_CSS/img/estrela.jpeg");
    padding: 15px;
    color: rgb(232, 232, 147)
}
/* 10: Configurando a Img */
.bg-config,
.not-bg-config{
    height: 200px;
    width: 200px;
    background-image: url("../02_CSS/img/aparabarros.jpg");
}

.bg-config{
    background-position: center;
    background-size: cover;
}
/* 11: Box Model */
.largura-altura{
    height: 200px;
    width: 300px;
    background-color: blue;
}
.com-padding{
    background-color: red;
    color: white;
    padding: 15px;
    border: 10px solid white;
}
.sem-padding{
    background-color: #3e403e;
    border: 10px solid white;
}
.padding-ind{
    background-color: blue;
    padding-top: 10px;
    padding-left: 300px;
    border: 10px solid white;
}
.shorthand-padding{
    background-color: yellow;
    padding: 5px 10px 15px 20px;
    border: 10px solid white;
}
.padding-width{
    background-color: green;
    width: 200px;
    padding: 20px;
    border-bottom: 10px dotted blue;
}
.padding-width-2{
    background-color: green;
    width: 200px;
    padding: 20px;
    border-top: 10px dashed rgb(8, 90, 172);
    box-sizing: border-box;
}
.padding-width-3{
    background-color: #010f8d;
    color: white;
    width: 200px;
    padding: 20px;
    border-top: 10px dashed rgb(237, 29, 29);
    border-radius: 25px;
    box-sizing: border-box;
}
/* Desafio */
#desafio{
    margin: 20px;
    background-color: brown;
    padding: 5px 10px 15px 200px;
    border: 10px dashed pink ;
    border-radius: 50px;
    outline: 5px solid red;
}
.um-Id{
    background-color: #000;
    border:10px dotted yellow;
    padding-left: 200px;
    border-bottom:5px solid orange;
    /* border: none; -> Elimina as config */
}
/* 12: Texto Alinhado */
.text-aligned{
    text-align: right;
}
.text-aligned-2{
    text-align: center;
    border: 2px solid red;
}
/* 13: Texto Decorado */
.underline{
    text-decoration: underline;
}
.underline-2{
    text-decoration:line-through;
    color:#3e403e;
}
.underline-3{
    color:#015824;
    text-decoration: none;
}
/* 14: Texto transformado */
.text-upper{
    text-transform: uppercase;
}
.text-lower{
    text-transform: lowercase;
}
/* 15: Espaçamento */
.espacamento{
    letter-spacing: 10px;
}
/* 16: Fontes */
.serif{
    font-family: Georgia;
}
.sans-serif{
    font-family: Helvetica;
}
.monospace{
    font-family: "Courier New";
    font-style: italic;
    /* weight: Deixa a fonte mais fina/grossa */
    font-weight: 900;
}
.cursive{
    font-family: cursive;
    font-style: oblique;
}
.fantasy{
    font-family: fantasy;
    /* size: Determina o tam da fonte */
    font-size: 70px;
}
/* 16: Display */
/* display: none -> mantém o elemento oculto */
.inline-box{
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #e1f4;
    /* esse display: Deixa lado a lado */
    display: inline-block;
}
.block{
    background-color: #3fe180;
    margin: 5px;
    /* esse display: deixa um abaixo do outro */
    display: block;
}
/* 18: Posições */
.pos-static{
    background-color: #000;
    color: orange;
    width: 70px;
    height: 50px;
    position: static;
}
.relative{
    background-color: red;
    color: orange;
    width: 100px;
    height: 100px;
    position: relative;
    top: 30px;
    left: 40px;
}
.absolute{
    background-color: red;
    color: orange;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 400px;
}
/* 19: Relativo com Absoluto */
.relative-container{
    width: 150px;
    height: 150px;
    border: 4px solid red;
    margin-top: 80px;
    /* position: Necessário para q os quadrados não saiam do bloco */
    position: relative;
}
.absolute-1,
.absolute-2{
    width: 40px;
    height: 40px;
    background-color: #000;
    position: absolute;
}
.absolute-2{
    top: 15px;
    left: 50px;
}
.absolute-1{
    bottom: 10px;
    right: 10px;
}
/* 20: Fixed */
.fixed{
    width: 150px;
    height: 150px;
    border: 4px solid greenyellow;
    background-color: grey;
    position: fixed;
    top:50px;
    right: 80px;
}
/* 21: Stick */
.sticky{
    width: 150px;
    height: 150px;
    border: 4px solid #110707;
    background-color: red;
    position: sticky;
    top: 10px;
}
/* 22: z-index */
.absolute-4,
.absolute-3{
    width: 40px;
    height: 40px;
    background-color: #000;
    position: absolute;
}
.absolute-3{
    top: 0;
    left: 0;
    z-index: 1;
}
.absolute-4{
    top: 10px;
    left: 10px;
    background-color: #015824;
}